---
layout: splash
description: U.S. Army veteran, small business owner running to replace 4-term Metro Councilor Susan McClain for State Representative in District 29.
author_profile: false

---

<h3> Meet David Molina</h3>
<img src="assets/images/1172255_4602025667980_1801152162_o.jpg" class="align-left resize">
<p>David Molina is an entrepreneur, former Army Captain, and father of three. He joined the race for Oregon House District 29 because he could no longer stand idly by while Salem's special interest politicians continue to veer Oregon off track with their reckless and unchecked spending, and billions in tax increases at the expense of small business owners, veterans and the most disenfranchised.</p>
<p>David was born in Hood River and raised in Mount Vernon, a rural farm town an hour north of Seattle, and went to public schools. As a kid, David worked alongside his parents in the fields picking berries, harvesting oysters, construction, sales, and proudly worked minimum wage and piecework jobs. </p>
<p><a href="/about-david.html">Read More</a></p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Posts" }}</h3>
<p>
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

