<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>
<script>
    $(document).ready(function(){
        $(".button a").click(function(){
            $(".overlay").fadeToggle(200);
        $(this).toggleClass('btn-open').toggleClass('btn-close');
        });
    });
    $('.overlay').on('click', function(){
        $(".overlay").fadeToggle(200);   
        $(".button a").toggleClass('btn-open').toggleClass('btn-close');
        open = false;
    });
</script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
