---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

.brand-image, .header img {
  float: left;
  width: 125px;
  height: auto;
  background: transparent\9;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.center {
    text-align: center;
}
.disclaimers{
  font-size: $type-size-7;
}

.box {
  border: 1px $light-gray solid;
  border-radius: 5px;
  padding: 15px;
  margin:0 auto;
  max-width: 400px;
  font-size: $type-size-5;
}
