---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

.brand-image, .header img {
  float: left;
  width: 125px;
  height: auto;
  background: transparent\9;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
