---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "UTF-8";

@import "minimal-mistakes";

.brand-image, .header img {
  float: left;
  width: 100px;
  height: auto;
  background: transparent;
}

address{
  font-style: normal;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.title {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: mix(#fff, $gray, 25%);
  border-bottom: 1px solid $border-color;
}

.disclaimers{
  font-size: $type-size-7;
}

.resize {
  max-width: 50%;
  margin: 2em;
}

.box {
  border: 1px $light-gray solid;
  border-radius: 5px;
  padding: 8px;
  margin:0 auto;
  max-width: 350px;
  font-size: $type-size-6;
}

@media only screen and (min-width : 320px) and (max-width : 560px) {
  .resize {
    max-width: 80vw;
    margin: 2em;
  }
  .box {
    border: 1px $light-gray solid;
    border-radius: 5px;
    padding: 8px;
    margin:0 auto;
    max-width: 200px;
    font-size: $type-size-5;
  }
  .brand-image, .header img {
    margin: 0 auto;
    width: 125px;
    height: auto;
    background: transparent;

  }
}
@media only screen and (min-width : 560px) and (max-width : 1024px) {
  .resize {
    max-width: 50%;
    margin: 2em;
  }
}
